<div class="container">
	<div class="row">
		<div class="col-md-1 col-md-offset-1 col-sm-2 col-xs-3">
			<h1><strong>FAQ</strong></h1> 
		</div>
		<div class="col-md-7 col-sm-7 hidden-xs pull-left">
			<legend>- najczęściej zadawane pytania </legend></div>
		</div>
	</div>
	<div class="container container-index faq">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<ul class="list-unstyled">
					<li><h4 class="question anchor-my" id="1">1. Na czym polega projekt indywidualny?</h4>
						<p class="answer">W cenie projektu indywidualnego otrzymujecie 3 różne projekty, stworzone specjalnie dla Was, dopasowane do wizji Waszego ślubu. Pozostałe koszty znane są po wykonaniu projektów i zależą przede wszystkim od formatu wybranego zaproszenia.</p></li>

					<li><h4 class="question anchor-my" id="2">2. Czy jeśli nie spodobają nam się projekty indywidualne, otrzymamy zwrot kosztów?</h4>
						<p class="answer">Jeżeli nie zdecydują się Państwo na żaden z wykonanych i przedstawionych projektów, nie zwracamy jego kosztów. W przypadku zamówienia projektu indywidualnego wymagane jest dokonanie wpłaty na koszty projektów. Pozostałą kwotę należy wpłacić po zatwierdzeniu ostatecznej wersji projektu.</p></li>

					<li><h4 class="question anchor-my" id="3">3. Jakich zmian można dokonać w gotowym projekcie zaproszeń?</h4>
						<p class="answer">Jeżeli wybierzecie gotowy projekt zaproszenia, dokonujemy w nim tylko niezbędnych poprawek graficznych (np. rysujemy Waszą mapkę dojazdu w tej samej stylistyce). Modyfikacje przekraczające zmianę tekstu, zdjęć (jeżeli są w projekcie), czy narysowanie mapki, są dodatkowo płatne.</p></li>

					<li><h4 class="question anchor-my" id="4">4. Czy zamawiając gotowy projekt można zmienić czcionkę w zaproszeniu?</h4>
						<p class="answer">Można dokonać zmiany czcionki. Jest to opcja dodatkowo płatna. Ponadto każde zaproszenie na etapie projektu ma dopasowane i indywidualnie dobierane czcionki. Ich zmiana nie zawsze wygląda dobrze.</p></li>

					<li><h4 class="question anchor-my" id="5">5. Czy można zamówić zaproszenia w dwóch wersjach językowych?</h4>
						<p class="answer">Wykonanie dodatkowej wersji językowej jest dodatkowo płatne - za każdą wersję językową. Projekty w wersji obcojęzycznej wykonujemy wyłącznie na podstawie przesłanego przez Was tekstu. Nie wykonujemy tłumaczeń.</p></li>

					<li><h4 class="question anchor-my" id="6">6. Czy z zaproszeniami można zamówić zawiadomienia? Czy wiąże się to z dodatkową opłatą?</h4>
						<p class="answer">Wykonanie drugiej wersji tekstowej informującej o ślubie (zawiadomienie) jest w cenie zaproszenia - w treści głównej zaproszenia zostaje usunięta informacja o weselu i RSVP. W przypadku, gdy zawiadomienia mają się różnić od zaproszeń nie tylko tekstem, ale i formatem oraz grafiką, są traktowane jako oddzielny projekt.</p></li>

					<li><h4 class="question anchor-my" id="7">7. Czy w gotowym projekcie można dokonać zmian kolorystycznych? Czy jest to w cenie zaproszenia?</h4>
						<p class="answer">Większość projektów można wykonać w nowej kolorystyce. Zmiana kolorów na zaproszeniu jest dodatkowo płatna.</p></li>

					<li><h4 class="question anchor-my" id="8">8. Czy w cenę zaproszeń wliczona jest personalizacja - wypisanie na nich nazwisk gości?</h4>
						<p class="answer">Wypisanie nazwisk gości na zaproszeniach jest dodatkowo płatne. Standardowe zaproszenia są bez personalizacji, z pozostawionym miejscem do ręcznego wypisania nazwisk zapraszanych osób. Cena personalizacji zależy od ilości nazwisk/zaproszeń.</p></li>

					<li><h4 class="question anchor-my" id="9">9. Czy jeżeli zapomnimy o jakimś gościu, będzie można domówić dla niego zaproszenie po zakończeniu realizacji zamówienia?</h4>
						<p class="answer">Nie ma możliwości domawiania pojedynczych zaproszeń w późniejszym terminie, dlatego warto w zamawianej liczbie uwzględnić kilka zapasowych sztuk do ręcznego wypisania. Należy pamiętać o kilku\kilkunastu dodatkowych sztukach (w zależności od wielkości wesela). Warto pamiętać o zamówieniu jednego zaproszenia na pamiątkę.</p></li>

					<li><h4 class="question anchor-my" id="10">10. Ile dodatkowych zaproszeń powinniśmy zamówić?</h4>
						<p class="answer">Należy pamiętać o kilku/kilkunastu dodatkowych sztukach pustych zaproszeń (w zależności od wielkości wesela od 5-15 sztuk), jeżeli planują Państwo zaprosić kogoś z listy rezerwowej. Warto również zamówić jedno zaproszenie na pamiątkę. Nie ma możliwości domawiania pojedynczych zaproszeń w późniejszym terminie, dlatego warto w zamawianej liczbie uwzględnić kilka zapasowych sztuk.</p></li>

					<li><h4 class="question anchor-my" id="11">11. Ile trwa realizacja zaproszeń?</h4>
						<p class="answer">
						Przybliżone terminy realizacji zaproszeń składają się z <strong>3 etapów</strong>.
						<%= image_tag "projekt-slub-terminy-realizacji-zaproszen.jpg", :class => "img-responsive" %></p>
						<p class="answer"><i>Wysyłka nie jest wliczana do czasu realizacji.</i> Przesyłka kurierska do Polski trwa 1-2 dni roboczych (zwykle paczka dochodzi na następny dzień), a kurierska do Europy - 4-6 dni roboczych.</p></li>

					<li><h4 class="question anchor-my" id="12">12. Czy istnieje możliwość kupienia samego projektu zaproszeń? Chodzi o projekt do wydruku we własnym zakresie.</h4>
						<p class="answer">Nie ma możliwości zakupienia samego projektu. Zgodnie z punktem 3 naszego <a href="http://projektslub.blogspot.com/p/regulamin.html" target="_blank">regulaminu</a> sprzedajemy papeterię ślubną w postaci gotowego wydruku. Nie realizujemy projektów elektronicznych.</p></li>
						
					<li><h4 class="question anchor-my" id="13">13. Jaki będzie koszt wydrukowania przez Was projektu mojego autorstwa?</h4>
						<p class="answer">Nie prowadzimy drukarni, nie zajmujemy się drukowaniem projektów nie naszego autorstwa.
						Nie mamy w swojej ofercie kosztów wydruków - sprzedajemy gotowe, wydrukowane i skompletowane zaproszenia według naszych projektów.</p></li>

					<li><h4 class="question anchor-my" id="14">14. Czy razem z zaproszeniami można zamówić dodatki ślubne (winietki z nazwiskami gości, plan stołów, menu, itp.)?</h4>
						<p class="answer">Na <a href="http://projektslub.blogspot.com/search/label/dodatki%20%C5%9Blubne" target="_blank"> dodatki</a> najlepiej zgłosić się ok. 2 miesiące przed ślubem, kiedy będzie już potwierdzona lista gości. Dodatki realizujemy jako osobne zamówienie w późniejszym terminie, znacznie bliżej ślubu, kiedy znane są szczegóły a na Sali weselnej zostaną ustalone szczegóły dotyczące menu czy rozstawienia stołów.
						Rezerwujemy wtedy termin, bo dodatki są realizowane na konkretną datę ślubu - wysyłamy je zazwyczaj w tygodniu poprzedzającym wesele.
						Lista gości zmienia się zazwyczaj do samego wesela, a wraz z nią - personalizowane dodatki.</p></li>
				</ul>
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<div id="side-nav" class="affix">
				<legend class="leg-small">Nawigacja</legend>
					<ul class="nav nav-list faq-nav">
						<li><a href="faq#1">1. Na czym polega projekt indywidualny?</a></li>
						<li><a href="faq#2">2. Czy możliwy jest zwrot kosztów?</a></li>
						<li><a href="faq#3">3. Jakich zmian można dokonać w gotowym projekcie?</a></li>
						<li><a href="faq#4">4. Czy można zmienić czcionkę w gotowym zaproszeniu?</a></li>
						<li><a href="faq#5">5. Czy można zamówić dwie wersje językowe?</a></li>
						<li><a href="faq#6">6. Czy z zaproszeniami można zamówić zawiadomienia?</a></li>
						<li><a href="faq#7">7. Czy można zmienić kolorysty w gotowym zaproszeniu?</a></li>
						<li><a href="faq#8">8. Czy w cenę wliczona jest personalizacja?</a></li>
						<li><a href="faq#9">9. Czy można domówić zaproszenie po realizacji?</a></li>
						<li><a href="faq#10">10. Ile dodatkowych zaproszeń zamówić?</a></li>
						<li><a href="faq#11">11. Ile trwa realizacja?</a></li>
						<li><a href="faq#12">12. Czy można kupić sam projekt?</a></li>
						<li><a href="faq#13">13. Ile kosztuje wydrukowanie mojego projektu?</a></li>
						<li><a href="faq#14">14. Czy z zaproszeniami można zamówić dodatki ślubne?</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>