<div class="container container-index">
	<fieldset>
		<div class="form-horizontal">
			<div class="row">
				<div class="col-xs-12 col-md-5">
					<legend>Edycja tagu</legend>

					<%= render 'form' %>

					<%= link_to 'Wyświetl', @tag %>
					<%= link_to 'Wstecz', tags_path %>
				</div>
			</div>
		</div>
	</fieldset>
</div>
